body.contact {
    
    div.burger.contact {
        @include grillfood($pattiepic);
        min-width: 450px;
        min-height: 450px;
        left: 30%;
        top: 35%;
        ul {
            padding-top: 20%;
            li {
                list-style: none;
                color: white;
                text-shadow: 0 0 15px black;
                font-size: 25px;
                text-decoration: none; 
            }
        }
    }
}