$grillpic: url(../images/flattopbg.png);
$baconpic1: url(../images/bacon1.png);
$baconpic2: url(../images/bacon2.png);
$mushroompic: url(../images/portobello.png);
$pattiepic: url(../images/pattie.png);
$trashpic: url(../images/trashbar.png);
$gray: rgb(89,89,89);

@mixin grillfood($img) {
    position: fixed;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-image: $img;
    box-sizing: border-box;
}

$font1: 'Oswald', sans-serif;
$font2: 'Indie Flower', cursive;